.perevod {
    display: none;
}
.ff {
    position: relative;
}
.front {
position: relative;
/*top: 10vh;*/
    width: 18vw;
    max-height: 30vw;
    background-color: #AF3BD4;
    border-radius: 30%;
    border: solid 2px #54026E;
    text-align: center;
}
.slova {
   position: relative;
   /*top: 14%*/
}
.perevod {
  position: relative;
  /*top: 4%;*/
}
body {
    background-color: #FFB2F3;
}
